<div class="panel panel-default">
			<div class="panel-body contacts">
				<p class="text-center">Contacts</p>
				<ul>
				    <% emails.each do |email| %>
						<li class="clickable"><span class="label label-default"></span> <%= email %></li>
					<% end %>
				</ul>
			
			</div>
		
		</div>	