<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row inbox">
		<div class="col-md-3">
			<%= render partial: 'contacts_list', locals: {emails: @emails} %>
		</div><!--/.col-->
		
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-body message">
					<p class="text-center">New Message</p>
					<%= form_for @message, url: {controller: "dashboard", action: "create", method: "post"}, html: {class: "form-horizontal",  role: "form"} do |f| %>

						<div class="form-group">
					    	<label for="to" class="col-sm-1 control-label">To:</label>
					    	<div class="col-sm-11">
					    		<%= text_field_tag :to, nil, id: "to", class: "form-control select2-offscreen", placeholder: "Type email" %>
					    	</div>
					  	</div>
						
	  					<div class="form-group">
					    	<label for="subject" class="col-sm-1 control-label">Subject:</label>
					    	<div class="col-sm-11">
					    		<%= f.text_field :subject, id: "subject", class: "form-control select2-offscreen", placeholder: "Type subject" %>
					    	</div>
					  	</div>
					
					<div class="col-sm-11 col-sm-offset-1">
						
						<div class="form-group">
							<%= f.text_area :body, class: "form-control", id: "body", rows: 12, placeholder: "Write here to send a message" %>
						</div>
						
						<div class="form-group">	
							<%= f.submit "Send", class: "btn btn-success" %>
							<button type="submit" class="btn btn-danger">Discard</button>
						</div>
					</div>	

					<% end %>
				</div>	
			</div>	
		</div>
	</div>
</div>